Repository Nyiobyiringiro/Lejos-project, changes with the owners that CODEOWNERS names for each.
All owners: @Nyiobyiringiro, @samuel636, @mwendwa22000, @remacoding

final
  .classpath
  .project
  DataExchange.java
  EV3Project.java
  Linefollower.java
  ObstacleDetector.java
  Sound.java
Owners: @Nyiobyiringiro, @samuel636, @mwendwa22000, @remacoding

presentation
  .classpath
  .project
  EV3Project.java
Owners: @samuel636

webservices
  DataExchange.java
  Linefollower.java
  httptest.java
Owners: @Nyiobyiringiro, @mwendwa22000

Restful services
  DataExchange.java
  Linefollower.java
  ObstacleDetector.java
Owners: @Nyiobyiringiro, @mwendwa22000, @remacoding

final
  DataExchange.java
  ObstacleDetector.java
Owners: @Nyiobyiringiro, @remacoding

commit
  httptest.java
Owners: none

final
  httptest.java
  restful/Colordetector.java
  restful/DataExchange.java
  restful/EV3Project.java
  restful/Httptest.java
  restful/Linefollower.java
  restful/ObstacleDetector.java
Owners: @Nyiobyiringiro, @samuel636, @mwendwa22000, @remacoding

CODEOWNERS:

# Each line defines the files and their owners
Colordetector.java @Nyiobyiringiro
DataExchange.java @Nyiobyiringiro
EV3Project.java @samuel636
Linefollower.java @mwendwa22000
ObstacleDetector.java @remacoding
